!!! Strict
%html
  %head
    %title
      MySpeechTime - How long is your speech?
    %link{ :rel => 'stylesheet', :href => 'css/app.css' }
    %script{ :type => 'text/javascript', :src => 'javascripts/mootools-1.2.4-core-yc.js' }
    %script{ :type => 'text/javascript', :src => 'javascripts/app.js' }
  %body
    #container
      #result

      %script{ :type => 'text/javascript', :src => 'http://tweetmeme.com/i/scripts/button.js' }
      %h1
        Big speech coming up
      %h2
        be well prepared - pastie your speech below
      %form#speech_form{ :action => 'calculate', :method => 'post' }
        %textarea{ :name => 'speech[text]' }
        %input#calculate_button{ :type => 'submit', :value => 'How long?' }
      %img#loader{ :src => 'images/loader.gif' }
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-11952065-1");
      pageTracker._trackPageview();
      } catch(err) {}
